# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# don't include the downloaded packages in the github, takes too much space
**/node_modules
**/package-lock.json

# dependencies
/finance/node_modules
/finance/.pnp
/finance/.pnp.js

# testing
/finance/coverage

# next.js
/finance/.next
/finance/out

# production
/finance/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
/backend/node_modules