.ErrorMessageStyle
{
    position: fixed;
    display:flex;
    justify-content: center;
    background-color: gray;
    opacity: 1;
    padding:5%;
    padding-top: 15%;
    left: 50%;
    bottom: 0%;
    opacity: 1;
    transform: translateX(-50%);
};

.fade-in-out{
    animation: fadeInOut 5s ease-in-out;
}

.CloseErrorMessage
{
    position: fixed;
    background-color: red;
    top: 0%;
    right: 0%;
    height: 20%;
    aspect-ratio: 1;
    color: orange;

};

.fade-in-out {
    animation: fadeInOut 70s ease-in-out; /* Change 5s to the desired duration */
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
        opacity: 1.00;
    }
    75% {
        opacity: 1.00;
    }
    100% {
      opacity: 0;
    }
  }